dd {
  display: inline;
}
dt {
  display: inline;
}
hr {
    margin: 0;
}
.dropdown-icon-container i {
    font-size: 1.6rem;
}
.button-reset {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
}
dt{
  text-align: left;
}

/**media queries ngx table*/
@media screen and (max-width: 800px) {
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
  }