<div class="container-fluid">
    <form [formGroup]="formParent"  >


        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div class="container-footer-parents">
                            <img src="assets/images/camp/papa-mama.png" class="avatar-lg" alt="madre y padres">
                            <h4 class="ms-3 mt-3">Datos de acceso del Padre, Madre o Tutor titular de la cuenta</h4>
                            <h5 class="mt-2">Información de acceso con la cual entrarás a Camper Control.
                            </h5>
                        </div>

                        <div class="mt-5">
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label" >correo electrónico*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName="email" name="email"  [ngClass]="{'is-invalid':getpassword() == true,'is-valid':getpassword() == false}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label" >Confirma correo electrónico*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName="confirmEmail"  name="confirmEmail" [ngClass]="{'is-invalid':getconfirmEmail() == true,'is-valid':getconfirmEmail() == false}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Contraseña</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="horizontal-firstname-input" formControlName="password"  name="password" [ngClass]="{'is-invalid':getpassword() == true,'is-valid':getpassword() == false}" >
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label" >Confirma contraseña*</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="horizontal-firstname-input" formControlName="confirmPassword"  name="confirmPassword" [ngClass]="{'is-invalid':getconfirmPassword() == true,'is-valid':getconfirmPassword() == false}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div class="container-footer-parents">
                            <img src="assets/images/camp/papa-mama.png" class="avatar-lg" alt="madre y padres">
                            <h4 class="ms-3 mt-3">Titular de la cuenta (PADRE, MADRE o TUTOR)</h4>
                            <h5 class="mt-2">Ingresa la información del padre, madre o tutor titular de la cuenta.
                            </h5>
                        </div>

                        <div class="mt-5">
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input"
                                    class="col-sm-3 col-form-label">Nombre(s)*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName="tutor_name" [ngClass]="{'is-invalid':tutor_name.invalid == true,'is-valid':tutor_name.invalid == false}" 
                                    >
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label" >Apellido
                                    paterno*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName="tutor_lastname_father"  [ngClass]="{'is-invalid':gettutor_lastname_father() == true,'is-valid':gettutor_lastname_father() == false}" >
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Apellido
                                    materno</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName="tutor_lastname_mother"   [ngClass]="{'is-invalid':tutor_lastname_mother.invalid == true,'is-valid':tutor_lastname_mother.invalid == false}" >
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label" >Teléfono
                                    móvil*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName = "tutor_cellphone"  [ngClass]="{'is-invalid':tutor_cellphone.invalid == true,'is-valid':tutor_cellphone.invalid == false}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Teléfono de
                                    casa*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName = "tutor_home_phone"  [ngClass]="{'is-invalid':tutor_home_phone.invalid == true,'is-valid':tutor_home_phone.invalid == false}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Teléfono de
                                    oficina*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName = "tutor_work_phone"  [ngClass]="{'is-invalid':tutor_work_phone.invalid == true,'is-valid':tutor_work_phone.invalid == false}">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-10">
                <div class="card">

                    <div class="card-body">
                        <div class="container-footer-parents">
                            <img src="assets/images/camp/papa-mama.png" class="avatar-lg" alt="madre y padres">
                            <h4 class="ms-3 mt-3">Segundo titular de la cuenta (PADRE, MADRE o SEGUNDO TUTOR)</h4>
                        </div>

                        <h5 class="mt-4">No es el titular de la cuenta, pero es igual de importante ya que es a quien
                            llamaremos en caso de no poder contactar al primer titular, tambien recibe los correos
                            referentes a los campamentos.

                        </h5>




                        <div class="mt-5">
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input"
                                    class="col-sm-3 col-form-label">Nombre(s)*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName = "contact_name"  [ngClass]="{'is-invalid':contact_name.invalid == true,'is-valid':contact_name.invalid == false}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Apellido
                                    paterno*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName = "contact_lastname_father" [ngClass]="{'is-invalid':contact_lastname_father.invalid == true,'is-valid':contact_lastname_father.invalid == false}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Apellido
                                    materno</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input"  formControlName = "contact_lastname_mother"  [ngClass]="{'is-invalid':contact_lastname_mother.invalid == true,'is-valid':contact_lastname_mother.invalid == false}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Teléfono
                                    móvil*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input"  formControlName = "contact_cellphone" [ngClass]="{'is-invalid':contact_cellphone.invalid == true,'is-valid':contact_cellphone.invalid == false}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Teléfono de
                                    oficina*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName = "contact_work_phone" [ngClass]="{'is-invalid':contact_work_phone.invalid == true,'is-valid':contact_work_phone.invalid == false}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Teléfono de
                                    casa*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName = "contact_home_phone" [ngClass]="{'is-invalid':contact_home_phone.invalid == true,'is-valid':contact_home_phone.invalid == false}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="horizontal-firstname-input"
                                    class="col-sm-3 col-form-label">Correo electrónico*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="horizontal-firstname-input" formControlName="contact_email" [ngClass]="{'is-invalid':contact_email.invalid == true,'is-valid':contact_email.invalid == false}">
                                </div>
                            </div>
                          
                            

                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class=col-lg-12>
                    <div class="card p-5">
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="terms" height="40px" formControlName = "terms"  >
                                <label class="form-check-label fs-3 ms-3" for="terms">
                                    Acepto los términos y condiciones
                                </label>
                                <label class="form-check-label fs-3 ms-3" for="terms">
                                    <a
                                        href="https://demo.campercontrol.com/media/uploads/files/terminos-y-condiciones.pdf">Ver
                                        términos y condiciones</a>
                                </label>

                            </div>
                        </div>
                        <p class="fs-5">Se enviará un correo electrónico de confirmación a tu correo, te pedimos que
                            revises tu bandeja
                            de <span> Correo no deseado </span> para asegurar que lo recibiste bien. Si no lo recibes,
                            ponte en contacto
                            con nosotros.</p>

                        <div class="btn-footer">
                            <button class="btn btn-secondary w-lg btn-lg">Cancelar</button>
                            <div >
                                <button class="btn btn-info w-lg btn-lg" [disabled]="formParent.invalid" (click)="prueba()" *ngIf="!spinner">Guardar</button>
                                <div class="spinner-border" role="status" *ngIf="spinner">
                                    <span class="visually-hidden">Loading...</span>
                                  </div>
                            </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- end row -->
</div>


<ng-template #centerDataModal let-modal>
    <div class="modal-header">
      
    </div>
    <div class="modal-body">
        <div class="text-center mb-4">
            <div class="avatar-md mx-auto mb-4">
                <div class="avatar-title bg-light rounded-circle text-success h1">
                    <i class="mdi mdi-account-multiple-check"></i>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <h4 class="text-success">Ya estas Registrado Felicidades !</h4>
                    <p class="text-muted font-size-14 mb-4">
                    </p>

                   

                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- 
    <div class="col-sm-6 col-md-4 col-xl-3">
    <div class="my-4 text-center">
      <p class="text-muted">Center modal</p>
    
      <button type="button" class="btn btn-primary" (click)="centerModal()">Center
        modal</button>
    </div>
  </div>
-->


