<div id="layout-wrapper">
    <app-vertical></app-vertical>
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid p-3 mn">
          <form [formGroup]="formParent">
  
            <!-- Datos de acceso -->
            <div class="row mb-4">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="container-footer-parents">
                      <img src="assets/images/camp/papa-mama.png" class="avatar-lg" alt="madre y padres">
                      <h4 class="ms-3 mt-3">{{ cabezeras[idoma]["titulo"] }}</h4>
                      <h5 class="mt-2">{{ cabezeras[idoma]["texto1"] }}</h5>
                    </div>
                    <div class="mt-4 container-fluid">
                      <!-- Email -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ cabezeras[idoma]["texto2"] }}</label>
                        <div class="col-sm-12">
                          <input type="email" class="form-control" formControlName="email" #email (input)="getemail()" (focus)="alertcorreo=true" (focusout)="alertcorreo=false">
                          <p><small style="font-size:14px;color:red;">{{ cabezeras[idoma]["texto6"] }}</small></p>
                          <div *ngIf="alertcorreo" class="alert alert-warning mt-2">
                            {{ textos[idoma]["texto27"] }}
                          </div>
                        </div>
                      </div>
                      <!-- Confirmar Email -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ cabezeras[idoma]["texto3"] }}</label>
                        <div class="col-sm-12">
                          <input type="email" class="form-control" formControlName="confirmEmail" #emailConfir (input)="getconfirmEmail()" (focus)="alertConfirCorre=true" (focusout)="alertConfirCorre=false">
                          <div class="alert alert-danger" *ngIf="confirmEmailAlert"><small>{{ textos[idoma]["texto26"] }}</small></div>
                          <div *ngIf="alertConfirCorre" class="alert alert-warning mt-2">
                            {{ textos[idoma]["texto28"] }}
                          </div>
                        </div>
                      </div>
                      <!-- Contraseña -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ cabezeras[idoma]["texto4"] }}</label>
                        <div class="col-sm-12 input-group auth-pass-inputgroup">
                          <input [type]="passwordType" class="form-control" formControlName="password" placeholder="{{ textos[idoma]['texto7'] }}" #password (input)="getpassword()">
                          <button class="btn btn-light" type="button" (click)="cambioTipo()"><i class="pi pi-eye"></i></button>
                        </div>
                        <div class="alert alert-warning mt-1">{{ cabezeras[idoma]["texto8"] }}</div>
                        <div class="alert alert-danger" *ngIf="paswordAlert"><small>{{ textos[idoma]["texto24"] }}</small></div>
                      </div>
                      <!-- Confirmar Contraseña -->
                      <div class="row mb-4">
                        <label class="col-sm-12 col-form-label">{{ cabezeras[idoma]["texto5"] }}</label>
                        <div class="col-sm-12 input-group auth-pass-inputgroup">
                          <input [type]="passwordType" class="form-control" formControlName="confirmPassword" placeholder="{{ textos[idoma]['texto9'] }}" #confirmPassword (input)="getconfirmPassword()">
                          <button class="btn btn-light" type="button" (click)="cambioTipo()"><i class="pi pi-eye"></i></button>
                        </div>
                        <div class="alert alert-danger" *ngIf="confirmPaswordAlert"><small>{{ textos[idoma]["texto25"] }}</small></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Tutor Principal -->
            <div class="row mb-4">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="container-footer-parents">
                      <img src="assets/images/camp/papa-mama.png" class="avatar-lg" alt="madre y padres">
                      <h4 class="ms-3 mt-3">{{ textos[idoma]["titulo"] }}</h4>
                      <h5 class="mt-2">{{ textos[idoma]["texto1"] }}</h5>
                    </div>
                    <div class="mt-4">
                      <!-- Nombre -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto10"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="tutor_name" #tutor_name (input)="getTutor_name()"></div>
                      </div>
                      <!-- Apellido Paterno -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto11"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="tutor_lastname_father" #tutor_lastname_father (input)="getTutor_lastname_father()"></div>
                      </div>
                      <!-- Apellido Materno -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto12"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="tutor_lastname_mother" #tutor_lastname_mother (input)="gettutor_lastname_mother()"></div>
                      </div>
                      <!-- Teléfono Primario -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto13"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="tutor_cellphone" #tutor_cellphone (input)="gettutor_cellphone()"></div>
                      </div>
                      <!-- Teléfono Secundario -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto14"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="tutor_home_phone" #tutor_home_phone (input)="gettutor_home_phone()"></div>
                      </div>
                      <!-- Teléfono Oficina -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto15"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="tutor_work_phone" #tutor_work_phone (input)="gettutor_work_phone()"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Contacto Secundario -->
            <div class="row mb-4">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="container-footer-parents">
                      <img src="assets/images/camp/papa-mama.png" class="avatar-lg" alt="madre y padres">
                      <h4 class="ms-3 mt-3">{{ textos[idoma]["texto16"] }}</h4>
                      <h5 class="mt-2">{{ textos[idoma]["texto17"] }}</h5>
                    </div>
                    <div class="mt-4">
                      <!-- Nombre -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto10"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="contact_name" #contact_name (input)="getcontact_name()"></div>
                      </div>
                      <!-- Apellido Paterno -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto11"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="contact_lastname_father" #contact_lastname_father (input)="getcontact_lastname_father()"></div>
                      </div>
                      <!-- Apellido Materno -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto12"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="contact_lastname_mother" #contact_lastname_mother (input)="getcontact_lastname_mother()"></div>
                      </div>
                      <!-- Teléfono Primario -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto13"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="contact_cellphone" #contact_cellphone (input)="getcontact_cellphone()"></div>
                      </div>
                      <!-- Teléfono Secundario -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto14"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="contact_home_phone" #contact_home_phone (input)="getcontact_home_phone()"></div>
                      </div>
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto15"] }}</label>
                        <div class="col-sm-12"><input type="text" class="form-control" formControlName="contact_work_phone" #contact_work_phone (input)="getcontact_work_phone()"></div>
                      </div>
                      <!-- Correo Secundario -->
                      <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">{{ textos[idoma]["texto10"] }}</label>
                        <div class="col-sm-12"><input type="email" class="form-control" formControlName="contact_email" #contact_email (input)="getcontact_email()"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Términos y Botones -->
            <div class="row">
              <div class="col-lg-12">
                <div class="card p-5">
                  <div class="mb-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="terms" formControlName="terms">
                      <label class="form-check-label fs-3 ms-3" for="terms">{{ textos[idoma]["texto18"] }}</label>
                      <label class="form-check-label fs-3 ms-3" for="terms"><a href="https://registrokin.com/media/uploads/files/_terminos-y-condiciones.pdf">{{ textos[idoma]["texto19"] }}</a></label>
                    </div>
                  </div>
                  <p class="fs-5">{{ textos[idoma]["texto20"] }} <span>{{ textos[idoma]["texto21"] }}</span>{{ textos[idoma]["texto22"] }}</p>
                  <div class="btn-footer">
                    <button class="btn btn-secondary w-lg btn-lg" (click)="cancelar()">{{ textos[idoma]["texto23"] }}</button>
                    <div>
                      <button class="btn btn-info w-lg btn-lg" (click)="prueba()" *ngIf="!spinner">{{ textos[idoma]["texto22"] }}</button>
                      <div class="spinner-border" role="status" *ngIf="spinner"><span class="visually-hidden">Loading...</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #centerDataModal let-modal>
    <div class="modal-header"></div>
    <div class="modal-body">
      <div class="text-center mb-4">
        <div class="avatar-md mx-auto mb-4">
          <div class="avatar-title bg-light rounded-circle text-success h1">
            <i class="mdi mdi-account-multiple-check"></i>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <h4 class="text-success">Ya estas Registrado Felicidades !</h4>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  