<div *ngIf="!cargando">
  <p-tabView *ngIf="table">
      <p-tabPanel header="Staff">
          <div>

              <div class="card border border-info border-1">
                  <div class="bg-info p-2">
                      <h1 class="card-title text-white">Listado staff</h1>
                  </div>
                  <div class="card-body">
                    
                    <div class="mb-3 mt-3 row">
                      <div class="col-6">
                        <label for="name">Nombre</label>
                        <input type="text" pInputText [(ngModel)]="filters.name" class="form-control" placeholder="Nombre del staff" />
                    
                      </div>
                      <div class="col-6">

                        <label for="email">Correo</label>
                        <input type="text" pInputText [(ngModel)]="filters.email" class="form-control" placeholder="Correo del staff" />
                      </div>
                     
                  <div class="d-flex justify-content-center mt-3">
                       
                      <button   type="button" label="" class="btn btn-secondary ms-3" (click)="resetFilters()"> Limpiar</button>
                      <button   type="button" label="" class="btn btn-primary ms-3" (click)="buscarStaff()"> Buscar</button>

                  </div>

                    </div>
                        
                      
                      <div >
                        
                          <p-table 
                          #dt
                          [value]="listcatalogos"
                          [lazy]="true"
                          (onLazyLoad)="loadStaffLazy($event)"
                          [paginator]="true"
                          [rows]="5"
                          [totalRecords]="totalRecords"
                          [loading]="cargando"
                          [rowsPerPageOptions]="[5, 25, 50]"
                          [globalFilterFields]="['combined','Staff.lastname_father','Staff.lastname_mother','Staff.facebook','email','Staff.bio','Staff.cellphone','Staff.home_phone']"
                          dataKey="id"
                          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
                        
                        >

                              <ng-template pTemplate="header">
                                  <tr>
                                      <th pSortableColumn="Staff.name" style="min-width: 190px; text-align: center;">
                                          Nombre <p-sortIcon field="combined"
                                              style="font-size: 10px;"></p-sortIcon></th>
                                          
                                      <th pSortableColumn="Staff.birthday" style="min-width: 150px;text-align: center;">
                                          Fecha de nacimiento<p-sortIcon field="Staff.birthday"></p-sortIcon></th>
                                      
                                           
                                                  <th pSortableColumn="email" style="min-width: 110px;text-align: center;">
                                                      Email<p-sortIcon field="email"></p-sortIcon></th>
                                                      <th pSortableColumn="tipoMovimiento" style="min-width: 60px;text-align: center;">
                                                          Contactos<p-sortIcon field="tipoMovimiento"></p-sortIcon></th>
                                                          <th pSortableColumn="tipoMovimiento" style="min-width: 60px;text-align: center;">
                                                            Records<p-sortIcon field="tipoMovimiento"></p-sortIcon></th>
                                                          <th pSortableColumn="tipoMovimiento" style="min-width: 60px;text-align: center;">
                                                            Temporada<p-sortIcon field="tipoMovimiento"></p-sortIcon></th>
                                                    
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-customer>
                                  <tr>
                                      <td  style="cursor:pointer; text-align: center;">
                                        <a routerLink="/dashboard/staff/perfil/{{customer.Staff.id}}">  {{customer.combined}}  </a>
                                        
                                      </td>

                                      <td style="text-align: center;font-size: 12px; font-size: 12px;">
                                          {{customer.Staff.birthday}} 
                                      </td>
                                      
                                  
                                      <td style="text-align: center; font-size: 12px;" (click)="hypervinculo(customer.Staff.id)" >
                                          {{customer.email}}
                                      </td>
                                   

                                      <td style="text-align: center;">
                                          
                                       <i class="mdi mdi-cellphone" ></i>   {{customer.Staff.cellphone}}
                                          <br>
                                       <i class="dripicons-phone"></i>   {{customer.Staff.home_phone}}


                                      </td>
                                      <td>
                                        
  
                                            <p-badge [value]="customer.total" pTooltip="Total" tooltipPosition="top"></p-badge>
                                            <p-badge [value]="customer.attended" pTooltip="Camps anteriores" tooltipPosition="top" severity="danger"
                                              severity="danger"></p-badge>
                                            <p-badge [value]="customer.attend" pTooltip="Proximos camps" tooltipPosition="top"
                                              severity="success" severity="success"></p-badge>
                          
                          
                                          
                                      </td>
                                      <td style="text-align: center;">
                                          
                                        {{customer.season_name}}
                                       


                                    </td>
                                 
                                   


                                  </tr>
                              </ng-template>

                          </p-table>
                      </div>

                  </div>
              </div>





          </div>

      </p-tabPanel>


  </p-tabView>

</div>

<div class="spinner-border text-primary" role="status" style="margin: 0 auto;" *ngIf="cargando">
  <span class="sr-only">Loading...</span>
</div>
