.btn-footer{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-footer-parents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}