<header class="container-fluid">

    <div class="row">
        <div class="card col-lg-12 shadow-lg  mb-5 bg-body  rounded-top">
            <div class="campamentos-header" >
                <div class="bg-primary text-white ps-5 pe-5 pt-3 pb-3" style="width: 100%;">

                    <h3 class="text-white">{{camper_band.full_name}}</h3>
                    <h5 class="text-white">{{camper_band.school}}</h5>
                    <h6 class="text-white">{{camper_band.birthday}}</h6>
                </div>
                <section class="campamentos pt-4">
                    <div class="Campementos_anteriores">
                        <div>
                            {{camper_band.past_camps}}
                        </div>
                        <div>
                            <p>Camps Anteriores</p>
                        </div>
                    </div>
                    <div class="foto-perfil">
                        <img src="http://142.93.12.234:8000/{{camper_band.photo}}" class="avatar-lg rounded-circle" alt="">
                        <button class="btn-rounded btn btn-success mt-3 ">
                            <a class="text-white" style="width: 100%;" [routerLink]="['../camper/'+id]" >Ver Perfil</a>
                        </button>
                    </div>


                    <div class="Campamentos_proximo">
                        <div>
                          {{camper_band.future_camps}}
                        </div>
                        <div>
                            <p>Camps Proximo</p>
                        </div>

                    </div>


                </section>
            </div>

        </div>
    </div>

    <!--campamentos a los que asisitire-->
    <div >

        <div class="card border border-info border-1" >
              <div class="bg-info p-2">
                <h1 class="card-title text-white">Campamentos Disponibles</h1>
      
              </div>
              <div class=" scroll-y">

              <div class="card-body">
                <div>
                  <div class="col text-end">
      
                  </div>
                </div>
                <div class="container-btn">
                    <div class="d-inline-block" style="margin-right: 10px;">
                        <div> 
                            <button class="btn btn-success" (click)="filterCamps()" >Inscribir  a camp(s)</button>
                      </div>
                    </div>
                 
                 
                </div>
      
                <p-table #dt [(selection)]="selectedCustomers" dataKey="id" [rowHover]="true" [rows]="5" [value]="customer" 
                  [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                  [globalFilterFields]="['name','location_id','start','end','public_price']"
                  [paginator]="true">
      
                  <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
      
                      <th pSortableColumn="name" class="camp">
                        <div class="flex justify-content-between align-items-center" style="width: 250px;">
                          Camp
                          <p-sortIcon field="name"></p-sortIcon>
                        </div>
                      </th>
                      <th pSortableColumn="location_id" class="camp">
                        <div class="flex justify-content-between align-items-center" style="max-width: 200px; width: 200px;">
                          Sede
                          <p-sortIcon field="location_id"></p-sortIcon>
                        </div>
                      </th>
                      <th pSortableColumn="start" class="record">
                        <div class="flex justify-content-between align-items-center" style="min-width: 70px; width: 140px;">
                          Inicio
                          <p-sortIcon field="start"></p-sortIcon>
                        </div>
                      </th>
                      <th pSortableColumn="end">
                        <div class="flex justify-content-between align-items-center" style="width: 140px;">
                        Termino
                          <p-sortIcon field="end"></p-sortIcon>
                        </div>
                      </th>
                   
                      <th pSortableColumn="public_price" style="width: 130px; min-width: 120px;">
                        <div class="flex justify-content-between align-items-center">
                          Precio
                          <p-sortIcon field="public_price"></p-sortIcon>
                        </div>
                      </th>
      
                     
                      <th pSortableColumn="precio">
                        <div class="flex justify-content-between align-items-center" style="width: 140px;">
                        </div>
                      </th>
      
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-customer>
                    <tr class="p-selectable-row">
                        <td>
                            <p-tableCheckbox [value]="customer" ></p-tableCheckbox>
                          </td>
                     
                      <td >
                        {{customer.camp_name}}
                      </td>
                      <td> 
                        {{customer.location_name}}
                      </td>
                      <td>
      
                       {{customer.camp_start}}
      
      
                      </td>
                      <td>
      
                       
                       {{customer.camp_end}}
      
                      </td>
                      <td>
                       {{customer.public_price}}
      
                      </td>
                   
      
                      <td>
                        <button class="btn btn-primary" class="btn btn-primary" [routerLink]="['../camp-info/'+id+'/'+customer.camp_id]">ver campamento</button>

                      </td>
      
      
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
      
                  </ng-template>
                </p-table>
    
            </div>
            </div>
          </div>




        <div class="card border border-success border-1" *ngIf="subscribe_camps.length>0">
            
            <div class="bg-success p-2">
                <h1 class="card-title text-white">Camps a los que asistiré </h1>
      
              </div>
              <br>
              <p-table #dt [value]="subscribe_camps" [rows]="5" 
                  [globalFilterFields]="['camp_name','location_name','camp_start','camp_end','public_price']"
                  [(selection)]="selectedProducts" [rowHover]="true" dataKey="camp_id"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [showCurrentPageReport]="true"
                  responsiveLayout="scroll"
                  [paginator]="true"
                scrollHeight="flex">
                
                  <ng-template pTemplate="header">
                      <tr>
                          
                          <th pSortableColumn="camp_name">Camp <p-sortIcon field="camp" style="font-size: 10px;"></p-sortIcon></th>
                          <th pSortableColumn="location_name">Sede <p-sortIcon field="sede"></p-sortIcon></th>
                          <th pSortableColumn=" camp_end">Inicio <p-sortIcon field="inicio"></p-sortIcon></th>
                          <th pSortableColumn="camp_start">Termino <p-sortIcon field="termino"></p-sortIcon></th>
                          <th pSortableColumn="public_price">Precio <p-sortIcon field="precio"></p-sortIcon></th>
      
                          <th></th>
      
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-customer>
                      <tr>
                          <td >
                              {{customer.camp_name}}
                            </td>
                            <td> 
                              {{customer.location_name}}
                            </td>
                            <td>
            
                             {{customer.camp_end}}
            
            
                            </td>
                            <td>
            
                             
                             {{customer.camp_start}}
            
                            </td>
                            <td>
                             {{customer.public_price}}
            
                            </td>
                         
            
                            <td>
                              <button class="btn btn-primary" class="btn btn-primary" [routerLink]="['../camp-info/'+id+'/'+customer.camp_id]">ver campamento</button>
                            </td>
      
                      </tr>
                  </ng-template>
                  
              </p-table>
        </div>

        <div class="card border border-secondary border-1"  *ngIf="available_school_camps.length>0">
            
            <div class="bg-secondary p-2">
                <h1 class="card-title text-white">Campamentos Escolares Disponibles </h1>
      
              </div>
              
              <br>
                           
              <div class="card-body">
              <div>
                <div class="col text-end">
    
                </div>
              </div>
              <div class="container-btn">
                  <div class="d-inline-block" style="margin-right: 10px;">
                      <div> 
                          <button class="btn btn-success" (click)="filterCampsScholl()" >Inscribir  a camp(s)</button>
                    </div>
                  </div>
               
               
              </div>
              <p-table #dt [value]="available_school_camps" [rows]="5" 
                  [globalFilterFields]="['camp_name','location_name','camp_start','camp_end','public_price']"
                  [(selection)]="campsSchool" [rowHover]="true" dataKey="camp_id"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [showCurrentPageReport]="true"
                  responsiveLayout="scroll"
                  [paginator]="true"
                scrollHeight="flex">
                
                  <ng-template pTemplate="header">
                      <tr>
                        <th>
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                          <th pSortableColumn="camp_name">Camp <p-sortIcon field="camp" style="font-size: 10px;"></p-sortIcon></th>
                          <th pSortableColumn="location_name">Sede <p-sortIcon field="sede"></p-sortIcon></th>
                          <th pSortableColumn=" camp_end">Inicio <p-sortIcon field="inicio"></p-sortIcon></th>
                          <th pSortableColumn="camp_start">Termino <p-sortIcon field="termino"></p-sortIcon></th>
                          <th pSortableColumn="public_price">Precio <p-sortIcon field="precio"></p-sortIcon></th>
      
                          <th></th>
      
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-customer>
                      <tr>
                        <td>
                          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                        </td>
                          <td >
                              {{customer.camp_name}}
                            </td>
                            <td> 
                              {{customer.location_name}}
                            </td>
                            <td>
            
                             {{customer.camp_end}}
            
            
                            </td>
                            <td>
            
                             
                             {{customer.camp_start}}
            
                            </td>
                            <td>
                             {{customer.public_price}}
            
                            </td>
                         
            
                            <td>
                              <button class="btn btn-primary" class="btn btn-primary" [routerLink]="['../camp-info/'+id+'/'+customer.camp_id]">ver campamento</button>
                            </td>
      
                      </tr>
                  </ng-template>
                  
              </p-table>
            </div>
        </div>

        

        <div class="card border border-info border-1" *ngIf="summer_school_camps.length>0">
            
          <div class="bg-info p-2">
              <h1 class="card-title text-white">Campamentos de verano  Disponible</h1>
    
            </div>
            <div class="card-body">
              <div>
                <div class="col text-end">
    
                </div>
              </div>
              <div class="container-btn">
                  <div class="d-inline-block" style="margin-right: 10px;">
                      <div> 
                          <button class="btn btn-success" (click)="filterCampsSummer()" >Inscribir  a camp(s)</button>
                    </div>
                  </div>
               
               
              </div>
            
            <br>
            <p-table #dt [value]="summer_school_camps" [rows]="5"  [(selection)]="campsSummer" 
                [globalFilterFields]="['camp_name','location_name','camp_start','camp_end','public_price']"
                dataKey="camp_id"
                responsiveLayout="scroll"
                scrollHeight="flex"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true"
                [paginator]="true"
                >
              
                <ng-template pTemplate="header">
                    <tr>
                      <th>
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                        <th pSortableColumn="camp_name">Camp <p-sortIcon field="camp" style="font-size: 10px;"></p-sortIcon></th>
                        <th pSortableColumn="location_name">Sede <p-sortIcon field="sede"></p-sortIcon></th>
                        <th pSortableColumn=" camp_end">Inicio <p-sortIcon field="inicio"></p-sortIcon></th>
                        <th pSortableColumn="camp_start">Termino <p-sortIcon field="termino"></p-sortIcon></th>
                        <th pSortableColumn="public_price">Precio <p-sortIcon field="precio"></p-sortIcon></th>
    
                        <th></th>
    
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                      <td>
                        <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                      </td>
                        <td >
                            {{customer.camp_name}}
                          </td>
                          <td> 
                            {{customer.location_name}}
                          </td>
                          <td>
          
                           {{customer.camp_end}}
          
          
                          </td>
                          <td>
          
                           
                           {{customer.camp_start}}
          
                          </td>
                          <td>
                           {{customer.public_price}}
          
                          </td>

                            <td>
                              <button class="btn btn-primary" class="btn btn-primary" [routerLink]="['../camp-info/'+id+'/'+customer.camp_id]">ver campamento</button>
                            </td>
                         
                       
          
    
                    </tr>
                </ng-template>
                
            </p-table>
            </div>
      </div>
      <div class="card border border-secondary border-1"  *ngIf="passed_camps.length>0">
            
        <div class="bg-secondary p-2">
            <h1 class="card-title text-white">Camps a los que asisti</h1>
  
          </div>
          <br>
          <p-table #dt [value]="passed_camps" [rows]="5" 
              [globalFilterFields]="['camp_name','location_name','camp_start','camp_end','public_price']"
              [(selection)]="selectedProducts" [rowHover]="true" dataKey="camp_id"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [showCurrentPageReport]="true"
              responsiveLayout="scroll"
                scrollHeight="flex"
                [paginator]="true">
            
              <ng-template pTemplate="header">
                  <tr>
                      
                      <th pSortableColumn="camp_name">Camp <p-sortIcon field="camp" style="font-size: 10px;"></p-sortIcon></th>
                      <th pSortableColumn="location_name">Sede <p-sortIcon field="sede"></p-sortIcon></th>
                      <th pSortableColumn=" camp_end">Inicio <p-sortIcon field="inicio"></p-sortIcon></th>
                      <th pSortableColumn="camp_start">Termino <p-sortIcon field="termino"></p-sortIcon></th>
                      <th pSortableColumn="public_price">Precio <p-sortIcon field="precio"></p-sortIcon></th>
  
                      <th></th>
  
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer>
                  <tr>
                      <td >
                          {{customer.camp_name}}
                        </td>
                        <td> 
                          {{customer.location_name}}
                        </td>
                        <td>
        
                         {{customer.camp_end}}
        
        
                        </td>
                        <td>
        
                         
                         {{customer.camp_start}}
        
                        </td>
                        <td>
                         {{customer.public_price}}
        
                        </td>
                     
        
                        <td>
                          <button class="btn btn-primary" class="btn btn-primary" [routerLink]="['../camp-info/'+id+'/'+customer.camp_id]">ver campamento</button>
                        </td>
  
                  </tr>
              </ng-template>
              
          </p-table>
    </div>
    <div class="card border border-danger border-1" *ngIf="cancelled_camps.length>0">
        
        <div class="bg-danger p-2">
            <h1 class="card-title text-white">Campamentos Cancelados </h1>
  
          </div>
          <br>

          <p-table #dt [value]="cancelled_camps" [rows]="5" 
              [globalFilterFields]="['camp_name','location_name','camp_start','camp_end','public_price']"
              [(selection)]="selectedProducts" [rowHover]="true" dataKey="camp_id"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [showCurrentPageReport]="true"
              responsiveLayout="scroll"
                scrollHeight="flex"
                [paginator]="true">
            
              <ng-template pTemplate="header">
                  <tr>
                      
                      <th pSortableColumn="camp_name">Camp <p-sortIcon field="camp" style="font-size: 10px;"></p-sortIcon></th>
                      <th pSortableColumn="location_name">Sede <p-sortIcon field="sede"></p-sortIcon></th>
                      <th pSortableColumn=" camp_end">Inicio <p-sortIcon field="inicio"></p-sortIcon></th>
                      <th pSortableColumn="camp_start">Termino <p-sortIcon field="termino"></p-sortIcon></th>
                      <th pSortableColumn="public_price">Precio <p-sortIcon field="precio"></p-sortIcon></th>
  
                      <th></th>
  
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer>
                  <tr>
                      <td >
                          {{customer.camp_name}}
                        </td>
                        <td> 
                          {{customer.location_name}}
                        </td>
                        <td>
        
                         {{customer.camp_end}}
        
        
                        </td>
                        <td>
        
                         
                         {{customer.camp_start}}
        
                        </td>
                        <td>
                         {{customer.public_price}}
        
                        </td>
                     
        
                        <td>
                          <button class="btn btn-primary" class="btn btn-primary" [routerLink]="['../../../parents/camp-info/'+id+'/'+customer.camp_id]">ver campamento</button>
                        </td>
  
                  </tr>
              </ng-template>
              
          </p-table>
    </div>
       

    </div>
    
    <!--campamentos disponible Escolares -->
   
     <!--campamentos disponible inscribir -->
    

    <!--campamentos a los que asisti -->
   

    <!--campamentos cancelados -->
   




    <ng-template #centerDataModal let-modal>
        <div class="modal-header">
          
        </div>
        <div class="modal-body">
            <div class="text-center mb-4">
                <div class="avatar-md mx-auto mb-4">
                    <div class="avatar-title bg-light rounded-circle text-success h1">
                        <i class="mdi mdi-account-multiple-check"></i>
                    </div>
                </div>
    
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <h4 class="text-success">Su Inscripcion fue realizada !</h4>
                        <p class="text-muted font-size-14 mb-4">
                        </p>
    
                       
    
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    

</header>