*{
    font-size: 17px;
}
label{
    font-size: 17px;
}
.campamentos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}
.paypal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    background: #ffc439;
    color: #111;
    border: none;
    border-radius: 999px;
  
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
  
    cursor: pointer;
    transition: all 0.25s ease;
  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .paypal-btn:hover {
    transform: translateY(-2px);
    background: #ffb800;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  }
  
  .paypal-btn:active {
    transform: scale(0.98);
  }
  
  .paypal-logo {
    width: 26px;
    height: 26px;
    object-fit: contain;
  }
  
  .paypal-btn strong {
    color: #003087;
    letter-spacing: 0.5px;
  }

.container-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}
.titulo-info{
    display: flex;
    justify-content: flex-start;
   max-width:200px;
}

.Campementos_anteriores{
    text-align: center;
}
.Campamentos_proximo{
    text-align: center;
}
.foto-perfil{
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-info-camping{
    display: flex;
   
}
th{
    font-size: 14px;
}
td{
    font-size: 14px;
}
.back-color{
    background-color: rgb(161, 161, 161);
}

@media (max-width: 750px) {
    .campamentos{
      display: flex;
      flex-direction: column;
    }
    .foto-perfil{  
        position: static;

    }
    .campamentos-header{
        height: auto;
    }
  }

  .campamentos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}

.container-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}
.titulo-info{
    display: flex;
    justify-content: flex-start;
   max-width:200px;
}

.Campementos_anteriores{
    text-align: center;
}
.Campamentos_proximo{
    text-align: center;
}
.foto-perfil{
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-info-camping{
    display: flex;
   
}
th{
    font-size: 14px;
}
td{
    font-size: 14px;
}
.back-color{
    background-color: rgb(161, 161, 161);
}

@media (max-width: 750px) {
    .campamentos{
      display: flex;
      flex-direction: column;
    }
    .foto-perfil{  
        position: static;

    }
    .campamentos-header{
        height: 100%;
    }
  }