th{
    font-size: 14px;
    text-align: center;
}
td{
    font-size: 14px;
    text-align: center;
}
.body-table-search{
    display: flex;
    justify-content: left;
}

.center-form{
    display: flex;
    align-items: center;
    justify-content: center;

}
.file-select {
    position: relative;
    display: inline-block;
  }
  
  .file-select::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
  }
  
  #src-file1::before {
    content: 'Seleccionar Archivo 1';
  }
  
  #src-file2::before {
    content: 'Seleccionar Archivo 2';
  }
