.campamentos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}

.container-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}
.titulo-info{
    display: flex;
    justify-content: flex-start;
   max-width:200px;
}

.Campementos_anteriores{
    text-align: center;
}
.Campamentos_proximo{
    text-align: center;
}
.foto-perfil{
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-info-camping{
    display: flex;
   
}
th{
    font-size: 14px;
}
td{
    font-size: 14px;
}
.back-color{
    background-color: rgb(161, 161, 161);
}
small{
    text-decoration: underline ;
    cursor: pointer;
    font-size: 15px;
}

@media (max-width: 750px) {
    .campamentos{
      display: flex;
      flex-direction: column;
    }
    .foto-perfil{  
        position: static;

    }
    .campamentos-header{
        height: 400px;
    }
  }

  .campamentos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}

.container-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}
.titulo-info{
    display: flex;
    justify-content: flex-start;
   max-width:200px;
}

.Campementos_anteriores{
    text-align: center;
}
.Campamentos_proximo{
    text-align: center;
}
.foto-perfil{
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-info-camping{
    display: flex;
   
}
th{
    font-size: 12px;
    height: 5px;
}
td{
    font-size: 12px;
    
}
.td_con{
    display: flex;
    justify-content: space-between;
}
.back-color{
    background-color: rgb(161, 161, 161);
}
.container-contac{
    display: flex;
    flex-direction: column;
}
.btn-grup{
    display: flex;
    justify-content:space-between ;
}

@media (max-width: 750px) {
    .campamentos{
      display: flex;
      flex-direction: column;
    }
    .foto-perfil{  
        position: static;

    }
    .campamentos-header{
        height: 400px;
    }
  }