<div class="card border border-info border-2">
    <div class="p-1 bg-info" style="width: 100%;">
      <h1 class="card-title text-white">Próximos camps</h1>

    </div>
   
    
    <div style="overflow: auto;" class="mt-4 p-3">
      <div style="width: 100%; margin-bottom: 20px;  padding: 20px; display: none;">
        <div class="row mb-2">
          <div class="col-md-4">
            <input pInputText type="text" [(ngModel)]="searchName" placeholder="Nombre del campamento" class="form-control" />
          </div>
          <div class="col-md-4">
            <input pInputText type="text" [(ngModel)]="searchLocation" placeholder="Sede (location)" class="form-control" />
          </div>
          <div class="col-md-4">
            <input pInputText type="text" [(ngModel)]="searchSchool" placeholder=" Escuela (school)" class="form-control" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button class="btn btn-success" (click)="buscarCampamentos()">Buscar</button>
          

            <button class="btn btn-secondary ms-2" (click)="resetFiltros()">Limpiar</button>
              
          </div>
        </div>
    </div>
      <p-table #dt [value]="listcatalogos"  [rows]="50" [rowsPerPageOptions]="[5, 25, 50]"
      dataKey="id"
      [rowHover]="true"
      [rows]="50"
      [paginator]="true"
      [lazy]="true"
      (onLazyLoad)="loadCampsLazy($event)"
      [totalRecords]="totalRecords"
      [responsive]="true"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]"
           [showCurrentPageReport]="true" [paginator]="true">
         

          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="camp_name" style="min-width: 190px; text-align: center;">
                      Campamento <p-sortIcon field="camp_name"
                          style="font-size: 10px;"></p-sortIcon></th>
                  <th pSortableColumn="camp_start" style="min-width: 150px;text-align: center;">
                      Inicio<p-sortIcon field="camp_start"></p-sortIcon></th>
                  <th pSortableColumn="camp_end" style="min-width: 150px;text-align: center;">
                      Finalización<p-sortIcon field="camp_end"></p-sortIcon></th>
                      <th pSortableColumn="location_name" style="min-width: 150px;text-align: center;">
                          Sede<p-sortIcon field="location_name"></p-sortIcon></th>
                          <th pSortableColumn="school_name" style="min-width: 150px;text-align: center;">
                              Escuela<p-sortIcon field="school_name"></p-sortIcon></th>
                              <th pSortableColumn="school_name" style="min-width: 210px;text-align: center;">
                                Record<p-sortIcon field="school_name"></p-sortIcon></th>
                            
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
              <tr>
                  <td   style="cursor:pointer; text-align: center;">
                       <a routerLink="/dashboard/medical/camp-medical/{{customer.camp_id}}"> {{customer.camp_name}} </a>
                  </td>
                  <td style="font-size: 12px; font-size: 12px;">
                      {{customer.camp_start.slice(0,10) }} - {{ customer.camp_start.slice(11,16)}}
                  </td>
                  <td style="font-size: 12px; font-size: 12px;">
                      {{customer.camp_end.slice(0,10)}} - {{ customer.camp_end.slice(11,16)}}
                  </td>
                  <td style="text-align: center; font-size: 12px;">
                      {{customer.location_name}}
                  </td>
                  <td style="text-align: center; font-size: 12px;">
                      {{customer.school_name}}
                  </td>
                 
                  <td  > 
                    <p-badge [value]="customer.records.campers_recod" pTooltip="Acampadores" tooltipPosition="top"></p-badge>
                   
                    <p-badge [value]="customer.records.staff_available_record" pTooltip="Staff Apuntado" tooltipPosition="top"
                        severity="danger" severity="danger"></p-badge>
                        
                    <p-badge [value]="customer.records.staff_record " pTooltip="Staff Confirmado" tooltipPosition="top"
                        severity="success" severity="success"></p-badge>
                  </td>

                 
                  


              </tr>
          </ng-template>

      </p-table>
  </div>
</div>