.display-flex{
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    justify-content: right;
    
}
.conatiner-th{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}


.btn-grup{
    display: flex;
    justify-content:space-around ;
}

.btn-altura{
    max-height: 40px;
}

.container-btn{
    display: flex;
    justify-content: right;
}
td , th{
    font-size: 13px;
    
}
.iconos{
    display: flex;
    margin-left: 20px;
}
td{
    text-align: center;
}
.scroll-y{
    overflow-x: scroll;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    display: flex;
    justify-content: right;
}

.error{
    background-color: rgb(243, 153, 153);  height: 100%;
}
.acierto{
    background-color: rgb(130, 130, 236);  height: 100%; text-align: center;
    border-right: 1px;
}

@media (max-width: 600px) {
    .container-btn{
        display: flex;
      flex-direction: column;
    }
  }
