<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card border border-warning border-1">
                <div class="bg-warning p-2">
                    <h1 class="card-title text-white">{{infoCamp.name}}</h1>
                </div>
                <div class="col-10 mt-4 mb-2" style="margin-left: 20px;">
                   <h6 style="color: rgb(182, 184, 185);"> <span><i class="bx bx-notepad" style="font-size: 18px; margin-right: 5px; margin-top: 5px;" ></i></span> <span style="margin-bottom: 14px;"> {{infoCamp.start.substring(0,10)}}  - {{infoCamp.end.substring(0,10)}} </span></h6>
                    <div class="iconos">
                        <div>
                        <span style="display: block; font-size: 16px;">Sede  <i class="fas fa-map"></i>:</span>
                        <span style="display: block; font-size: 16px;">Salida <i class="dripicons-clock"></i> : {{infoCamp.start.substring(0,10)}}</span>
                        <span style="display: block; font-size: 16px;">Regreso <i class="dripicons-clock"></i> : {{infoCamp.end.substring(0,10)}} </span>
                        <span style="display: block; font-size: 16px;">Punto de reunión <i class="fas fa-map-marked "></i> :</span>
                    </div>

                    </div>
                  



                </div>

              

            </div>

            <form [formGroup]="chekpoint">
            <div class="card border border-success border-1">
                <div class="bg-success p-2">
                    <h1 class="card-title text-white">Agregar un punto de control</h1>
                </div>
                <div class="container-fluid col-10 mt-4 mb-2">
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-5 d-flex justify-content-end col-form-label"> Nombre
                            del punto de control:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control d-flex justify-content-start" id="inputPassword" formControlName="name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-5 d-flex justify-content-end col-form-label"> Fecha de
                            aplicacion: </label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control d-flex justify-content-start" formControlName="chekpoint_date">
                        </div>
                    </div>
                    <div class="alert alert-primary" role="alert" *ngIf="letrero">
                         Se agrego correctamente 
                      </div>

                </div>

                <hr class="mb-4">
                <div class="display-flex p-2">
                    <button class="btn btn-secondary" type="submit">ver camp</button>
                    <button class="btn btn-primary" type="submit" (click)="crearCheck()" [disabled]="chekpoint.invalid">Agregar punto de Control</button>
                </div>

            </div>
        </form>


            <div class="card border border-primary border-1">
                <div class="bg-primary p-2">
                    <h1 class="card-title text-white">Acampadores</h1>
                </div>
                <hr>
                <div class=" scroll-y">
                  
                    <div class="card-body">
                        <div>
                            <div class="col text-end">

                            </div>
                        </div>
                        <div class="container-btn">

                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Global Search" />
                        </div>

                        <p-table #dt [(selection)]="selectedCustomers" dataKey="id" [rowHover]="true" [rows]="10"
                            [value]="customer" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                            [loading]="loading" [paginator]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [filterDelay]="0"
                            [globalFilterFields]="['name','country.name','representative.name','status']">

                            <ng-template pTemplate="header">
                                <tr >

                                    <th style="width: 20px;">
                                        #
                                    </th>
                                    <th style="min-width: 240px; width: 240px;">
                                        Nombre
                                    </th>
                                    <th  *ngFor="let item of columnas">
                                        <div  style="min-width: 70px; width: 240px; white-space: pre-line;" class="conatiner-th">
                                           <div> {{item.name}} </div>
                                         <div>{{item.chekpoint_date_esp}} <i class="bx bx-highlight" style="margin-left: 5px;"(click)="showDialog(item)"></i> </div> 
                                     <div>  <span><i class="bx bxs-barcode p-1 bg-primary" style="color: white; font-size: 15px; margin-right: 4px;margin-top: 2px; border-radius: 2px;"></i> 1 de 5 </span>   </div>  
                                        </div>
                                      

                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-customer>
                                <tr class="p-selectable-row">
                                    <td>
                                       {{customer.id}}
                                    </td>

                                    <td style="text-align: left; font-size: 10px;">
                                        {{customer.name}}
                                    </td>
                                    <td *ngFor="let item of columnas">

                                    </td>
                                  
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">

                            </ng-template>
                        </p-table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<p-button  icon="pi pi-external-link" label="Show"></p-button>
<p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
    <div class="container-fluid col-10 mt-4 mb-2">
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-5 d-flex justify-content-end col-form-label"> Nombre
                del punto de control:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control d-flex justify-content-start" id="inputPassword" [(ngModel)]="updateName">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-5 d-flex justify-content-end col-form-label"> Fecha de
                aplicacion: </label>
            <div class="col-sm-4">
                <input type="date" class="form-control d-flex justify-content-start" [(ngModel)]="updateDate">
            </div>
        </div>
        

    </div>

    <hr class="mb-4">
    <div class="display-flex p-2">
        <button class="btn btn-secondary" type="submit" (click)="cerrarModal()">Cancelar</button>
        <button class="btn btn-primary" type="submit" (click)="updadte()" *ngIf="!estatusUpdate">Actualizar </button >
        <div class="spinner-border text-primary" role="status" *ngIf="estatusUpdate">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
</p-dialog>