.camp{
   width: 30%;
    font-size: 14px;
}

.record{
width: 60px;
    font-size: 14px;

}
.prcPubli{
    max-width: 270px ;
    font-size: 14px;

}

.flex{
    display: flex;
    justify-content: right;
    
}

.blue{
    background-color: #0073B7;
    color: white;
    text-align: center;
    border-radius: 50%;
}
.red{
    background-color: #DD4B39;
    color: white;
    text-align: center;
    border-radius: 50%;

}

.green{
    background-color: #00A65A;
    color: white;
    text-align: center;
    width: 10px;
    border-radius: 50%;

}