<div *ngIf="!error">
    <header class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card campamentos-header">
                    <div class="bg-primary text-white p-3">
                        <h3 class="text-white">{{camperband.full_name}}</h3>
                        <h5 class="text-white">{{camperband.school}}</h5>
                        <h6 class="text-white">{{infoCamp.birthdayA}}</h6>
                    </div>
                    <section class="campamentos">
                        <div class="Campementos_anteriores">
                            <div>{{camperband.past_camps}}</div>
                            <div>
                                <p>{{ getTranslation('HEADER.PAST_CAMPS') }}</p>
                            </div>
                        </div>
                        <div class="foto-perfil">
                            <img src="http://142.93.12.234:8000/{{photo}}" class="avatar-lg rounded-circle" alt="">
                            <button class="btn-rounded btn btn-success mt-3">
                                <a class="text-white" (click)="linkPerfil()" style="width: 100%;">{{ getTranslation('HEADER.INSCRIBE_TO_CAMPS') }}</a>
                            </button>
                        </div>
                        <div class="Campamentos_proximo">
                            <div>{{camperband.future_camps}}</div>
                            <div>
                                <p>{{ getTranslation('HEADER.UPCOMING_CAMPS') }}</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </header>

    <div class="alert alert-danger mt-2 mb-2" role="alert" *ngIf="deuda > 0">
        <h2>{{ getTranslation('ALERT.PENDING_PAYMENTS') }}</h2>
        <p>{{infoCamp.name}} {{ getTranslation('ALERT.TOTAL_BALANCE') }}: {{deuda | currency}}</p>
    </div>

    <main class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="card p-5">
                    <div class="header">
                        <div>
                            <h4>{{ getTranslation('PROFILE.CAMPER_PROFILE') }}</h4>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-sm" (click)="update()">{{ getTranslation('PROFILE.EDIT') }}</button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="container-fluid">
                                <div class="titulo-info">
                                    <i class="bx bx-id-card"></i>
                                    <h4 style="margin-left: 10px;">{{ getTranslation('PROFILE.CAMPER') }}</h4>
                                </div>
                                <div class="container-fluid">
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.NAME') }}:</span> {{infoCamp.name}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.DATE_OF_BIRTH') }}:</span> {{infoCamp.birthday}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.AGE') }}:</span> {{infoCamp.birthdayA}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.GENDER') }}:</span> {{infoCamp.gender_id}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.EMAIL') }}:</span> {{infoCamp.email}}</p>
                                </div>
                                <hr>
                            </div>
                            <div class="container-fluid">
                                <div class="titulo-info">
                                    <i class="fas fa-book-reader"></i>
                                    <h4 style="margin-left: 10px;">{{ getTranslation('PROFILE.EDUCATION') }}</h4>
                                </div>
                                <div class="container-fluid">
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.SCHOOL') }}:</span> {{infoCamp.school_id}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.GRADE') }}:</span> {{infoCamp.grade}}</p>
                                </div>
                                <hr>
                                <br>
                                <div class="titulo-info">
                                    <i class="fas fa-diagnoses"></i>
                                    <h4 style="margin-left: 10px;">{{ getTranslation('PROFILE.SKILLS') }}</h4>
                                </div>
                                <div class="container-fluid">
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.CAN_SWIM') }}:</span> {{infoCamp.can_swim}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.PREVENT_ACTIVITIES') }}:</span> {{infoCamp.prevent_activities}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="container-fluid">
                                <div class="titulo-info">
                                    <i class="fas fa-ambulance"></i>
                                    <h4 style="margin-left: 10px;">{{ getTranslation('PROFILE.MEDICAL_INFO') }}</h4>
                                </div>
                                <div class="container-fluid">
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.REQUIRES_MEDICAL_INSTRUCTIONS') }}:</span> {{infoCamp.doctor_precall}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.WEIGHT') }}:</span> {{infoCamp.weight}} kg</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.HEIGHT') }}:</span> {{infoCamp.height}} cm</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.BLOOD_TYPE') }}:</span> {{infoCamp.blood_type}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.VACCINES') }}:</span> <span class="badge bg-info ms-1" *ngFor="let item of vacunasACtivos">{{item.name}}</span></p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.AFFLICTION') }}:</span> {{infoCamp.affliction}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.HEART_PROBLEMS') }}:</span> {{infoCamp.heart_problems}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.DRUG_ALLERGIES') }}:</span> {{infoCamp.drug_allergies}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.OTHER_ALLERGIES') }}:</span> {{infoCamp.other_allergies}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.NOCTURNAL_DISORDERS') }}:</span> {{infoCamp.nocturnal_disorders}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.MEDICATION') }}:</span> {{infoCamp.drugs}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <hr>
                        <div class="col-lg-12">
                            <div class="container-fluid">
                                <div class="titulo-info">
                                    <i class="fas fa-ambulance"></i>
                                    <h4 style="margin-left: 10px;">{{ getTranslation('PROFILE.INSURANCE') }}</h4>
                                </div>
                                <div class="container-fluid">
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.HAS_INSURANCE') }}:</span> {{infoCamp.insurance}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.SOCIAL_SECURITY_NUMBER') }}:</span> {{infoCamp.security_social_number}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.POLICY_NUMBER') }}:</span> {{infoCamp.insurance_number}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="container-fluid mt-5">
                                <div class="titulo-info">
                                    <i class="fas fa-drumstick-bite"></i>
                                    <h4 style="margin-left: 10px;">{{ getTranslation('PROFILE.NUTRITION') }}</h4>
                                </div>
                                <div class="container-fluid">
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.PROHIBITED_FOODS') }}:</span> {{infoCamp.prohibited_foods}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.FOOD') }}:</span> <span class="badge bg-info ms-1" *ngFor="let item of catalogosComida">{{item.name}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="container-fluid mt-5">
                                <div class="titulo-info">
                                    <i class="bx bxs-bookmark-star"></i>
                                    <h4 style="margin-left: 10px;">{{ getTranslation('PROFILE.PRIMARY_TUTOR') }}</h4>
                                </div>
                                <div class="container-fluid">
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.TUTOR_NAME') }}:</span> {{infoCamp.name_tutor}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.TUTOR_PHONE') }}:</span> {{infoCamp.phone_tutor}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.TUTOR_EMAIL') }}:</span> {{infoCamp.email_tutor}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.TUTOR_RELATED') }}:</span> {{infoCamp.relation_tutor}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="container-fluid mt-5">
                                <div class="titulo-info">
                                    <i class="bx bx-time-five"></i>
                                    <h4 style="margin-left: 10px;">{{ getTranslation('PROFILE.SECONDARY_TUTOR') }}</h4>
                                </div>
                                <div class="container-fluid">
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.SECONDARY_TUTOR_NAME') }}:</span> {{infoCamp.name_tutor2}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.SECONDARY_TUTOR_PHONE') }}:</span> {{infoCamp.phone_tutor2}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.SECONDARY_TUTOR_EMAIL') }}:</span> {{infoCamp.email_tutor2}}</p>
                                    <p><span class="fw-bold">{{ getTranslation('PROFILE.SECONDARY_TUTOR_RELATED') }}:</span> {{infoCamp.relation_tutor2}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card p-4">
                    <h4>{{ getTranslation('PROFILE.EMERGENCY_CONTACTS') }}</h4>
                    <div *ngFor="let contact of infoCamp.emergency_contacts">
                        <hr>
                        <div class="container-fluid">
                            <p><span class="fw-bold">{{ getTranslation('PROFILE.CONTACT_NAME') }}:</span> {{contact.name}}</p>
                            <p><span class="fw-bold">{{ getTranslation('PROFILE.CONTACT_PHONE') }}:</span> {{contact.phone}}</p>
                            <p><span class="fw-bold">{{ getTranslation('PROFILE.CONTACT_EMAIL') }}:</span> {{contact.email}}</p>
                            <p><span class="fw-bold">{{ getTranslation('PROFILE.CONTACT_RELATION') }}:</span> {{contact.relation}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
    