.campamentos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}
.container-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}
.titulo-info{
    display: flex;
    justify-content: flex-start;
   max-width:200px;
}

.Campementos_anteriores{
    text-align: center;
}
.Campamentos_proximo{
    text-align: center;
}
.foto-perfil{
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-info-camping{
    display: flex;
   
}
h3{
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.label-bg{
    background-color:#FF851B ;
    font-size: 10px;
    border-radius: 10px;
    color: white;
    width: auto;
}
.contendor-timiline{
    color: white;
    border-top-left-radius:10px;
}
*{
    font-size: 17px;
}
label{
    font-size: 17px;
}

.cancell{
    background-color: rgb(252, 98, 98);
}
.suscribe{
    background-color: green;
}
.icononos-s{
    color: #635f5f;
    text-align: right;
    font-size: 13px;
}
.contenedor-p{
    border: 1px solid rgb(212, 211, 211);
}
.margin-timile{
    margin-left: -350px;
}

.timilin-logo{
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat{
    height: auto;
}
.top-p{
    background-color: #556EE6;
    height: 20px;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;

}
.chat-espacio{
    min-height: 320px;
    height: 340px;
    max-height: 340px;
    overflow: hidden;
    overflow-y: scroll;
   
   

}
.mensaje{
    background-color: #e8e6e6;
    border-radius:5px;
}
.fecha-chat{
    font-size: 10px;
    color: #797171;
}
.Nombre-envidao{
    font-size: 10px;
    font-weight: bold;
    
    width: auto;
}


@media (max-width:980) {
    .margin-timile{
        margin-left: -740px;
    }
    .icononos-s{
        color: #635f5f;
        font-size: 12px;
    }
    h3{
        font-size: 14px;
    }
}


@media (max-width: 750px) {
    .campamentos{
      display: flex;
      flex-direction: column;
    }
    .foto-perfil{  
        position: static;

    }
    .margin-timile{
        margin-left: -240px;
    }
    .icononos-s{
        color: #635f5f;
        font-size: 12px;
    }
    h3{
        font-size: 14px;
    }
  }