.camps{
    width: 50%;
    overflow: none;  
    padding: 3px;  
}
.pagos{
    width: auto;
     
    padding: 3px;  
}

.camps::-webkit-scrollbar{
    display: none;
}
.card-info{
    height: 150px;
    overflow:auto ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.rotate-image {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }

a{
    color: black;
}
.center-ifno{
    display: flex;
    justify-content: center;
    
    
}
.bodyCamper{
    background-color: #34c38f;
    width: 100%;
    color: white;
    border-radius: 5px;
    height: auto;
    align-items: center;
    padding: 20px 20px;
}

.container-pagos{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right:3px ;
}

.bodyCamper1{
    background-color: #f1b44c;
    width: 100%;
    color: white;
    border-radius: 5px;
    height: auto;
    align-items: center;
    padding: 20px 20px;
}

.conatiner-info-camp{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;

}
i{
    margin-right:10px ;
}

.conatiner-info-camp p{
    font-size: 20px;
    margin: 10px;
    
}
.container-modal-camp{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
}
.container-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.title-btn{
    padding: 6px 10px;
    border-radius: 70px 70px 0px 0px / 70px 70px 25px 25px;
    background-color:#f1b44c;
    color: white;
}
.title-btn-p{
    padding: 6px 10px;
    border-radius: 70px 70px 0px 0px / 70px 70px 25px 25px;
    background-color:#34c38f;
    color: white;
}
.title-btn-d{
    padding: 6px 10px;
    border-radius: 70px 70px 0px 0px / 70px 70px 25px 25px;
    background-color:white;
    color: black;
}


@media (max-width: 700px) {
    .conatiner-info-camp{
     display: flex;
     flex-direction: column;   
    }
    .container-btn button{
        margin-top: 10px;

    }
    

}
@media (max-width: 750px) {
    .container-modal-camp{
     display: flex;
     flex-direction: column-reverse;   
    }
    .container-btn button{
        margin-top: 10px;

    }

}
@media (max-width: 980px) {
    .container-modal-camp{
     display: flex;
     flex-direction: column-reverse;   
    }
    .container-btn button{
        margin-top: 10px;

    }

}
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0E2975 #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #0E2975;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #2830A3;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #1A31A3;
  }

  .center{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  