dd {
 display: inline;   
}
dt {
    display: inline;
}
hr {
    margin: 0;
}
.dropdown-icon-container i {
    font-size: 1.6rem;
}
.box-camp-info {
    transition: all ease 1s;
}
.container-consultas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}