.login{
    background-image: url("../../../../assets/images/camp/login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size:cover ;

}

