.container-footer-parents{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-datos{
    display: flex;
    justify-content: space-between;
}

::ng-deep ng-select.is-valid .ng-select-container {
    border: 3px solid #28a745; /* Verde */
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }
  
  ::ng-deep ng-select.is-invalid .ng-select-container {
    border: 3px solid #dc3545; /* Rojo */
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }

.container-genero{
    display: flex;
    flex-direction:column ;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.titulos-datos-medicos{
    display: flex;
    flex-direction: column;
}
.input-datos-medicos{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-medico{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
} 
.checkbox{
    display: flex;
    justify-content: space-between;
}

.checkbox-b{
    display: flex;
    justify-content: space-around;
}
.btn-footer{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerMensje{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.delet{
    color: red;
    cursor: pointer;
}
.big-checkbox {width: 15px; height: 15px;}
.floating-div {
    position: fixed;
    top: 10%;
   
  }
  