<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <h4 class="ms-3">Datos Generales del Campamento</h4>
                    </div>

                    <form class="mt-5">
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Nombre del
                                campamento*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Sede*
                            </label>
                            <div class="control-label col-sm-9">
                                <ng-select
                                    [items]="['PK3','PK4','Kinder','1º de primaria | 1st','2º de primaria | 2nd','3º de primaria | 3rd','4º de primaria | 4th','5º de primaria | 5th','6º de primaria | 6th','1º de secundario | 7th','2º de secundario | 8th','3º de secundario | 9th','1º de preparatoria | 10th','2º de preparatoria | 11th','3º de preparatoria | 12th']">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Escuela*
                                </label>
                            <div class="control-label col-sm-9">
                                <ng-select
                                    [items]="['PK3','PK4','Kinder','1º de primaria | 1st','2º de primaria | 2nd','3º de primaria | 3rd','4º de primaria | 4th','5º de primaria | 5th','6º de primaria | 6th','1º de secundario | 7th','2º de secundario | 8th','3º de secundario | 9th','1º de preparatoria | 10th','2º de preparatoria | 11th','3º de preparatoria | 12th']">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Temporada*</label>
                            <div class="control-label col-sm-9">
                                <ng-select
                                    [items]="['PK3','PK4','Kinder','1º de primaria | 1st','2º de primaria | 2nd','3º de primaria | 3rd','4º de primaria | 4th','5º de primaria | 5th','6º de primaria | 6th','1º de secundario | 7th','2º de secundario | 8th','3º de secundario | 9th','1º de preparatoria | 10th','2º de preparatoria | 11th','3º de preparatoria | 12th']">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Link para
                                información adicional del acampador</label>
                            <div class="col-sm-9 mt-4">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>


                        <div class="row mb-4 mt-3">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Inicio del
                                Campamento</label>
                            <div class=" control-label col-sm-9">
                                <input type="datetime-local" class="form-control" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="row mb-4 mt-3">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Final del
                                Campamento</label>
                            <div class=" control-label col-sm-9">
                                <input type="datetime-local" class="form-control" placeholder="yyyy-mm-dd">
                            </div>
                        </div>

                        <div class="checkbox-b">
                            <div class="p-field-checkbox">
                                <p-checkbox name="group1" value="New York" [(ngModel)]="selectedCities" inputId="ny"
                                    class="mb-2"></p-checkbox>
                                <label style="margin-left: 20px;" for="ny">Registro abierto</label>
                            </div>
                            <div class="p-field-checkbox">
                                <p-checkbox name="group1" value="San Francisco" [(ngModel)]="selectedCities"
                                    inputId="sf" class="mb-2"></p-checkbox>
                                <label style="margin-left: 20px; " for="sf">Activo</label>
                            </div>

                        </div>




                    </form>
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <h4 class="ms-3">Datos Importantes</h4>
                    </div>

                    <form class="mt-5">
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Monto del
                                seguro*</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Punto de
                                reunion*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Fotos del
                                camp*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Contraseña del
                                camp*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>


                    </form>
                </div>

            </div>
            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <h4 class="ms-3">Precio y permisos </h4>
                    </div>

                    <form class="mt-5">
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Precio del
                                campamento*</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>

                        <div class="checkbox">
                            <div class="p-field-checkbox">
                                <p-checkbox name="group1" value="New York" [(ngModel)]="selectedCities" inputId="ny"
                                    class="mb-2" class="mb-2"></p-checkbox>
                                <label style="margin-left: 20px;" for="ny"> Mostrar boton de paypal</label>
                            </div>
                            <div class="p-field-checkbox">
                                <p-checkbox name="group1" value="San Francisco" [(ngModel)]="selectedCities"
                                    inputId="sf" class="mb-2"></p-checkbox>
                                <label style="margin-left: 20px; " for="sf">Mostrar pagos a padres</label>
                            </div>
                            <div class="p-field-checkbox">
                                <p-checkbox name="group1" value="2" [(ngModel)]="selectedCities"
                                    inputId="xf" class="mb-2"></p-checkbox>
                                <label style="margin-left: 20px; " for="xf"> Mostrar descuentos a padres</label>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>


    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="container-footer-parents">
                    <h4 class="ms-3">Informacion extra </h4>
                </div>
                <div class="row">

                    <div class="col-lg-6 mt-4">
                        <div class="container">
                            <div class="col mb-6">
                                <h4 for="horizontal-firstname-input">Mensaje
                                    especial*</h4>
                                <hr>
                                <ckeditor class="mt-4" [editor]="Editor" data="<p>Content of the editor.</p>">
                                </ckeditor>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="container">
                            <div class="col mb-6">
                                <h4 for="horizontal-firstname-input" class="display-7">Mensaje especial
                                    para admin*</h4>
                                <hr>
                                <ckeditor class="mt-4" [editor]="Editor" data="<p>Content of the editor.</p>">
                                </ckeditor>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="container">
                            <div class="col mb-6">
                                <h4 for="horizontal-firstname-input">
                                    Preguntas Extras</h4>
                                <hr>
                                <ckeditor class="mt-4" [editor]="Editor" data="<p>Content of the editor.</p>">
                                </ckeditor>

                            </div>
                        </div>



                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="container">
                            <div class="col mb-6">
                                <h4 for="horizontal-firstname-input">
                                    Cargos extras</h4>
                                <hr>

                                <label for="horizontal-firstname-input" class="col-sm-6 col-form-label">Nombre del
                                    Cargo</label>
                                <div class=" control-label col-lg-10">
                                    <input type="text" class="form-control">
                                </div>
                                <label for="horizontal-firstname-input" class="col-sm-6 col-form-label">Cantidad</label>
                                <div class=" control-label col-lg-10">
                                    <input type="text" class="form-control">
                                </div>



                            </div>
                        </div>



                    </div>


                </div>
            </div>
        </div>
    </div>