.record-gr{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0px 5px;
    border-radius:  100%;
    height: 30px;
    background-color: #00A65A;
}
.record-red{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0px 5px;
    border-radius:  100%;
    height: 30px;
    background-color: #DD4B39;
}

.record-blue{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0px 5px;
    border-radius:  100%;
    height: 30px;
    background-color: #0073B7;
}
.container-record{
    margin: 0px auto;
    display: flex;
    align-items: center;
}
.record{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: right;
    
}