<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card border border-success border-3">
        <div class="bg-success p-2">
          <h4 class="card-title text-white">Campamentos</h4>

        </div>
    
        <div style="overflow-x: scroll;">
            <div class="table-header flex p-3">
                <span class="p-input-icon-left">
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Global Search" />
                </span>
            </div>
            <p-table #dt [(selection)]="selectedCustomers" dataKey="id" [rowHover]="true" [rows]="10" [responsive]="true" [value]="customer" 
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
            [globalFilterFields]="['name','public_price','end','start']">
            
            <ng-template pTemplate="header">
                <tr>
    
                    <th pSortableColumn="name" class="camp">
                        <div class="flex justify-content-between align-items-center" style="min-width: 180px;">
                            Campamentos
                            <p-sortIcon field="name"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="record.n" class="record">
                        <div class="flex justify-content-between align-items-center" style="min-width: 80px;">
                            Record
                            <p-sortIcon field="record.n"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="public_price">
                        <div class="flex justify-content-between align-items-center" style="min-width: 170px;">
                            Precio Público
                            <p-sortIcon field="public_price"></p-sortIcon>
    
    
                        </div>
                    </th>
                    <th pSortableColumn="sede" style="min-width: 10rem">
                        <div class="flex justify-content-between align-items-center">
                            Sede
                            <p-sortIcon field="sede"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="start" style="min-width: 10rem" style="min-width: 170px;">
                        <div class="flex justify-content-between align-items-center">
                            Inicia
                            <p-sortIcon field="start"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="end" style="min-width: 10rem" style="min-width: 170px;">
                        <div class="flex justify-content-between align-items-center">
                            Termina
                            <p-sortIcon field="end"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="status" style="min-width: 8rem">
                      
                    </th>
    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr class="p-selectable-row">
    
                    <td (click)="reditCamps(customer.id)">
                        {{customer.name}}
                    </td>
                    <td>
                        <p-badge value="4" pTooltip="Acampadores" tooltipPosition="top"></p-badge>
                        <p-badge value="2" pTooltip="Staff apuntados" tooltipPosition="top"
                            severity="info" severity="warning"></p-badge>
                        <p-badge value="2" pTooltip="Staff confirmado" tooltipPosition="top"
                            severity="danger" severity="danger"></p-badge>
                    </td>
                    <td>
                        {{customer.public_price}}  <small *ngIf="customer.show_payment_parent"><i class="bx bx-dollar-circle" pTooltip="Se muestra el precio a los padres" tooltipPosition="top"></i></small>
                    </td>
                    <td>
                        {{customer.location_id}}
                    </td>
                  
                    <td>
                        {{customer.start.substring(0,10)}}
                    </td>
                    <td>
                        {{customer.end.substring(0,10)}}
                    </td>
    
                 
                    <td>
                        <button class="btn btn-primary" class="btn btn-primary" (click)="reditCamps(customer.id)">ver campamento</button>
                    </td>
    
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
       
      </div>
    </div>
  </div>
</div>