.record-gr{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0px 5px;
    border-radius:  100%;
    height: 30px;
    background-color: #00A65A;
}
.record-red{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0px 5px;
    border-radius:  100%;
    height: 30px;
    background-color: #DD4B39;
}

.record-blue{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0px 5px;
    border-radius:  100%;
    height: 30px;
    background-color: #0073B7;
}
.container-record{
    margin: 0px auto;
    display: flex;
    align-items: center;
}
.record{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: right;
   
    
}
.table-header{
    background-color: white;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #397524 #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #f8f8fa;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #f8f8fa;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #f8f8fa;
  }