<!-- ========== Left Sidebar Start ========== -->

<ng-template #contentTemplate>
  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
      <!-- {{menuItems}} -->
      <ng-container >
        <li class="menu-title" >Menú</li>
        <li >
         

        

          <a routerLink='/parents/registered-children' class="side-nav-link-ref" routerLinkActive="active">
            <i class="dripicons-user-id"></i>
            <span> Mis hijos registrados</span>

          </a>
        
          <a routerLink='/parents/my-profile' class="side-nav-link-ref" routerLinkActive="active">
            <i class="dripicons-user"></i>
            <span>Mi perfil</span>

          </a>
          <a routerLink='/parents/new-camper' class="side-nav-link-ref" routerLinkActive="active">
            <i class="bx bx-user-plus"></i>
            <span>Nuevo acampador</span>

          </a>

        
        </li>
      </ng-container>
    </ul>
  </div>
</ng-template>
<!-- Sidebar -->

<div class="vertical-menu">
  <ngx-simplebar class="h-100" #componentRef>
    <div *ngIf="!isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
    <div *ngIf="isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  </ngx-simplebar>
</div>
<!-- Left Sidebar End -->