


<div>

    <div class="card border border-info border-1">
        <div class="bg-info p-2">
            <h1 class="card-title text-white">Agrupaciones</h1>
        </div>
        <div class="card-body">
        <div class="container-btn mt-1 mb-3">
            <div>
                <div ngbDropdown placement="top-end" class="d-inline-block" style="margin-right: 10px;">
                    <button type="button" class="btn btn-primary" (click)="showDialog()">Agregar agrupacion</button>

                </div>
            </div>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Global Search" />
        </div>

          <p-table   #dt scrollable="true" [value]="listcatalogos" [rows]="50"
            [globalFilterFields]="['name']"
            [(selection)]="selectCatalogos" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Nombre<p-sortIcon field="name"
                            style="font-size: 10px;"></p-sortIcon></th>
                            <th pSortableColumn="grouping_type_id">Tipo de agrupacion<p-sortIcon field="name"
                                style="font-size: 10px;"></p-sortIcon></th>
                                <th pSortableColumn="grouping_type_id">Activo<p-sortIcon field="is_active"
                                    style="font-size: 10px;"></p-sortIcon></th>
                            
                    <th style="width: 40px;"></th>
                    <th style="width: 40px;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>
                        {{customer.name}}
                    </td>
                    <td>
                        {{customer.grouping_type_name}}
                    </td>
                    <td>
                        <div *ngIf="customer.is_active"><i class="bx bx-check-circle"
                            style="color: green;text-align: center;"></i></div>
                    <div *ngIf="!customer.is_active"><i class="dripicons-cross"
                            style="color: red;text-align: center;"></i></div>
                    </td>
                    
                  
                    <td>
                        <button class="btn btn-warning" (click)="update(customer)">Editar</button>

                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="deletModal(customer.name,customer.id)">Eliminar</button>
                    </td>
                 
                </tr>
            </ng-template>

        </p-table>
    </div>
    </div>





</div>

<p-dialog header="Title" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
       <h2>
        Agregar 
       </h2> 
    </ng-template>
    <div class="col">
        <form action="" [formGroup]="formFood">
            <div class="row mb-4">
                <label for="" class="col-sm-12 col-form-label">Nombre de la agrupacion </label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="" formControlName="name">
                </div>         
            </div>
            <div class="row mb-4">
                <label for="" class="col-sm-12 col-form-label">Tipo de agrupación</label>
                <div class="col-sm-12">
                    <select type="text" class="form-control" id="" formControlName="grouping_type_id">
                        <option *ngFor="let item of listTypeAgrrup" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>         
            </div>


            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                    formControlName="is_active" value=true>
                <label class="form-check-label" for="inlineCheckbox2">Activo</label>
            </div>
         
            
           
        </form>
        <div class="alert alert-primary" role="alert" *ngIf="statuAgrgado">
            Se Agrego correctamente
          </div>

          
    </div>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="guardar()" [disabled]="formFood.invalid" *ngIf="!showButtons"> Guardar</button>
        <div class="spinner-border" role="status" *ngIf="showButtons">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-template>
</p-dialog>
<p-dialog header="Title" [(visible)]="display2" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
       <h2>
        Editar  
       </h2> 
    </ng-template>
    <div class="col">
        <form action="" [formGroup]="formFood">
            <div class="row mb-4">
                <label for="" class="col-sm-12 col-form-label">Nombre de la agrupacion </label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="" formControlName="name">
                </div>         
            </div>
            <div class="row mb-4">
                <label for="" class="col-sm-12 col-form-label">Tipo de agrupacion </label>
                <div class="col-sm-12">
                    <select type="text" class="form-control" id="" formControlName="grouping_type_id">
                        <option *ngFor="let item of listTypeAgrrup" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>         
            </div>


            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                    formControlName="is_active" value=true>
                <label class="form-check-label" for="inlineCheckbox2">Activo</label>
            </div>
         
            
           
        </form>
        <div class="alert alert-primary" role="alert" *ngIf="statuAgrgado">
            Se Agrego correctamente
          </div>

          
    </div>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal2()">Cancel</button>
        <button type="button" class="btn btn-primary " (click)="keepUpdate()" *ngIf="!showButtons">Guardar</button>
        <div class="spinner-border" role="status" *ngIf="showButtons">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Title" [(visible)]="display3" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
       <h2>
        Eliminar  
       </h2> 
    </ng-template>
    <div class="col">
       {{TextElimint}}
        <div class="alert alert-danger" role="alert" *ngIf="statuAgrgado">
            Se elimino correctamente
          </div>

          
    </div>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-outline-secondary" (click)="this.display3 = false">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="delet()">Eliminar</button>
    </ng-template>
</p-dialog>

