.campamentos{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:space-around;
}

.container-info{
  display: flex;
  justify-content:space-between;
}
.titulo-info{
  display: flex;
  justify-content: flex-start;
 max-width:200px;
}
.container-btn{
  display: flex;
  justify-content: space-between;
}

.Campementos_anteriores{
  text-align: center;
}
.Campamentos_proximo{
  text-align: center;
}
.foto-perfil{
  position: relative;
  top: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container-info-camping{
  display: flex;
 
}
th{
  font-size: 14px;
}
td{
  font-size: 14px;
}
.back-color{
  background-color: rgb(161, 161, 161);
}

@media (max-width: 750px) {
  .campamentos{
    display: flex;
    flex-direction: column;
  }
  .foto-perfil{  
      position: static;

  }
  .campamentos-header{
      height: 400px;
  }
}

.campamentos{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:space-around;
}

.container-info{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:space-around;
}
.titulo-info{
  display: flex;
  justify-content: flex-start;
 max-width:200px;
}

.Campementos_anteriores{
  text-align: center;
}
.Campamentos_proximo{
  text-align: center;
}
.foto-perfil{
  position: relative;
  top: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container-info-camping{
  display: flex;
 
}
th{
  font-size: 14px;
}
td{
  font-size: 14px;
}
.back-color{
  background-color: rgb(161, 161, 161);
}
.flex-dir{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.small-circular-btn {
  width: 27px;            /* Tamaño del botón */
  height: 27px;
  border-radius: 50%;     /* Hace que el botón sea circular */
  padding: 0;

  font-size: 1rem;        /* Tamaño del ícono */
}
@media (max-width: 750px) {
  .campamentos{
    display: flex;
    flex-direction: column;
  }
  .foto-perfil{  
      position: static;

  }
  .campamentos-header{
      height: 400px;
  }
}