*{
    font-size: 17px;
}
label{
    font-size: 17px;
}


.container-footer-parents{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
::ng-deep ng-select.is-valid .ng-select-container {
    border: 3px solid #28a745; /* Verde */
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }
  
  ::ng-deep ng-select.is-invalid .ng-select-container {
    border: 3px solid #dc3545; /* Rojo */
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }

.contenedor-datos{
    display: flex;
    justify-content: space-between;
    
    gap: 20px;
}
.contenedor-datos input{
    height: 23px;

}
.contenedor-datos-vac{
    display: flex;
    justify-content: space-evenly;
}

.container-genero{
    display: flex;
    flex-direction:column ;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.titulos-datos-medicos{
    display: flex;
    flex-direction: column;
}
 

.container-medico{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

.btn-footer{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-footer-parents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_area_invalid{
    border:  solid 1px red;
}
.text_area_valid{
    border:  solid 1px rgb(82, 206, 82);
}
.custom-upload-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-upload-btn:hover {
    background-color: #0056b3;
}


.slider {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:500px;
    height:60px;
    padding:30px;
    padding-left: 40px;
    background:#fcfcfc;
    border-radius:20px;
    display:flex;
    align-items:center;
    box-shadow:0px 15px 40px #7E6D5766;
   }
   .slider p {
    font-size:26px;
    font-weight:600;
    font-family: Open Sans;
    padding-left:30px;
    color:#7E6D57;
   }
   .slider input[type=”range”] {
    -webkit-appearance:none !important;
    width:420px;
    height:2px;
    background:#7E6D57;
    border:none;
    outline:none;
   }
   .slider input[type=”range”]::-webkit-slider-thumb {
    -webkit-appearance:none !important;
    width:30px;
    height:30px;
    background:#fcfcfc;
    border:2px solid #7E6D57;
    border-radius:50%;
    cursor:pointer;
   }
   .slider input[type=”range”]::-webkit-slider-thumb:hover {
    background:#7E6D57;
   }
   @media (max-width: 768px) {
    .contenedor-datos {
        gap: 15px; /* Ajusta el espacio entre los elementos */
    }

  /* Estilo para la tabla */
.tabla-medicos {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    border-collapse: collapse; /* Elimina los bordes entre celdas */
    table-layout: fixed; /* Permite el control del tamaño de las columnas */
}

/* Encabezado de la tabla */
.tabla-medicos th {
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2; /* Fondo de encabezado */
    font-weight: bold;
}

/* Filas de la tabla */
.tabla-medicos td {
    padding: 8px;
    text-align: left;
}

/* Distribución de las columnas */
.tabla-medicos th, .tabla-medicos td {
    width: 70%; /* Columna de nombre */
}

.tabla-medicos td:nth-child(2),
.tabla-medicos th:nth-child(2) {
    width: 15%; /* Columna de CAMER */
}

.tabla-medicos td:nth-child(3),
.tabla-medicos th:nth-child(3) {
    width: 15%; /* Columna de FAMILY */
}

/* Estilo para la columna de checkboxes */
.tabla-medicos input[type="checkbox"] {
    margin: 0 auto;
    display: block; /* Centra el checkbox en su celda */
}

/* Estilo opcional para la tabla sin bordes */
.tabla-medicos, .tabla-medicos td, .tabla-medicos th {
    border: none; /* Elimina los bordes de las celdas */
}

}
   
