@media only screen and (min-width: 576px) {
    
    .capacitaciones-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5%;
        row-gap: 5%;
        justify-items: center;
        justify-content: center;
    }
}