<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <img src="assets/images/camp/perfil-camper.png" class="avatar-lg" alt="madre y padres">
                        <h4 class="ms-3">Datos personales del acampador</h4>
                    </div>
                    <form class="mt-5">
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Nombre(s)*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Apellido
                                paterno*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Apellido
                                materno</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Correo Electrónico
                                del acampador</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Genero</label>
                        <div class="container-genero">
                            <div class="mb-3">


                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Hombre</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Mujer</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No binario</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Prefiero no decir</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4 mt-3">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Fecha de
                                nacimiento*</label>
                            <div class=" control-label col-sm-9">
                                <input type="date" class="form-control" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="foto">
                            <label for="">Foto de Perfil</label>

                            <label for="">La foto es obligatoria pero nos ayuda a identificar a los campers,
                                recomendamos subas una foto reciente y de poco peso, máximo 1Mb.</label>

                        </div>





                    </form>
                </div>

            </div>
            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <img src="assets/images/camp/historial-medico.png" class="avatar-lg" alt="madre y padres">
                        <h4 class="ms-3">Registro de Enfermedades
                        </h4>
                    </div>

                    <h2 style="text-align:center ; margin-top: 30px;">Antecedentes patológicos:</h2>






                    <form class="mt-5">
                        <div class="contenedor-datos">


                            <div class="titulos-datos-medicos">
                                <p>Nombre</p>
                                <p>ANTECEDENTES DE INFARTO</p>
                                <p>EPILEPSIA </p>
                                <p>HIPERTENSIÓN</p>
                                <p>HIPOTENSION</p>
                                <p>MIGRAÑA</p>
                                <p>RINITIS </p>
                                <p>SOPLO CARDIACO</p>


                            </div>
                            <div class="input-datos-medicos">
                                <p style="margin-top:2px ;">ACAMPADOR</p>

                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>

                                <input type="checkbox" style="margin-top: 2px;">


                            </div>
                            <div class="input-datos-medicos">
                                <p style="margin-top:2px ;">FAMILIA</p>

                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>

                                <input type="checkbox" style="margin-top: 2px;">


                            </div>
                        </div>
                        <div class="alert-dismissible alert alert-secondary">
                            <p style="text-align:justify;" for="">Marca las casillas de las enfermedades que haya
                                padecido o padezca el camper en la columna camper. En caso de que un familiar haya
                                padecido alguna de esas enfermedades marca en la columna de familiar</p>
                        </div>


                        <div class="container-medico mt-5">
                            <h3>Problemas cardíacos*</h3>
                            <textarea
                                placeholder="En caso de NO padecer ningun problema cardiaco, teclea la palabra NINGUNO"
                                name="" id="" cols="90" rows="10"
                                style="border:1px solid rgb(223, 220, 220); border-radius: 5px;"></textarea>

                        </div>
                        <div class="container-medico mt-5">
                            <h3>Circunstancias medicas que le impidan realizar actividades*</h3>
                            <textarea
                                placeholder="En caso de NO haber tenido o tener cirugías, fracturas y/o esguinces que le impidan realizar actividades, teclea la palabra NINGUNA"
                                name="" id="" cols="90" rows="10"
                                style="border:1px solid rgb(223, 220, 220); border-radius: 5px;"></textarea>

                        </div>

                        <div class="container-medico mt-5">
                            <h3>Enfermedades que padece*</h3>
                            <textarea placeholder="En caso de NO padecer alguna enfermedad, teclea la palabra NINGUNO"
                                name="" id="" cols="90" rows="10"
                                style="border:1px solid rgb(223, 220, 220); border-radius: 5px;"></textarea>

                        </div>




                    </form>
                </div>

            </div>

            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <img src="assets/images/camp/otros.png" class="avatar-lg" alt="madre y padres">
                        <h4 class="ms-3">Otras Condiciones
                        </h4>
                    </div>


                    <form class="mt-5">


                        <div class="container-medico mt-5">
                            <h3>Alteraciones nocturnas*</h3>
                            <textarea
                                placeholder="En caso de que el acampador no padezca de alteraciones nocturnas, teclea la palabra NINGUNA"
                                name="" id="" cols="90" rows="10"
                                style="border:1px solid rgb(223, 220, 220); border-radius: 5px;"></textarea>

                        </div>
                        <div class="container-medico mt-5">
                            <h3>Fobias o miedos*</h3>
                            <textarea
                                placeholder="En caso de que el acampador no padezca de fobias, teclea la palabra NINGUNO"
                                name="" id="" cols="90" rows="10"
                                style="border:1px solid rgb(223, 220, 220); border-radius: 5px;"></textarea>

                        </div>

                        <div class="container-medico mt-5">
                            <h3>Tratamientos psiquiátricos o psicológicos*</h3>
                            <textarea
                                placeholder="En caso de NO estar en ningun tratamiento psicologico o psiquiatrico, teclea la palabra NINGUNO"
                                name="" id="" cols="90" rows="10"
                                style="border:1px solid rgb(223, 220, 220); border-radius: 5px;"></textarea>

                        </div>

                        <label for="horizontal-firstname-input" class="mt-5 col-sm-6 col-form-label">¿ Él/la camper sabe
                            nadar ?</label>
                        <div class="container-genero">
                            <div class="mb-3">


                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>

                            </div>
                        </div>

                        <div class="alert alert-warning">
                            En caso de no saber nadar y querer participar en actividades acuáticas, será responsabilidad
                            de los padres de familia el incluir en su equipaje un dispositivo de flotación (chaleco,
                            flotis)
                        </div>




                    </form>
                </div>

            </div>
            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <img src="assets/images/camp/bombero.png" class="avatar-lg" alt="madre y padres">
                        <h4 class="ms-3"> Seguro Médico
                        </h4>
                    </div>

                    


                    <form class="mt-5">
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label"> Compañía de seguros
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>

                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Numero de póliza</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Número de seguridad social </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="alert alert-success mt-3">
                            Camper Control cuenta con seguro de gastos contra accidentes menores con compañia_seguros. En caso de que las atenciones médicas superen la cantidad asegurada, los gastos correrán a cargo de los padres de familia o del seguro de gastos médicos mayores del acampador (en caso de contar con uno). Checa los detalles de tu camp para conocer los montos asegurados y características del seguro.
                        </div>
                       




                    </form>
                </div>



            </div>

            

            







        </div>
        <div class="col-lg-6">
            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <img src="assets/images/camp/datos-escolares.png" class="avatar-lg" alt="madre y padres">
                        <h4 class="ms-3">Datos Escolares</h4>
                    </div>






                    <form class="mt-5">
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Escuela*</label>
                            <div class="control-label col-sm-9">
                                <ng-select
                                    [items]="['Colegio Aleman','Colegio Camper Control','Colegio Patito','Escuela Camper Control','Otras']">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Otra escuela</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input"
                                    disabled="false">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Grado
                                escolar*</label>
                            <div class="control-label col-sm-9">
                                <ng-select
                                    [items]="['PK3','PK4','Kinder','1º de primaria | 1st','2º de primaria | 2nd','3º de primaria | 3rd','4º de primaria | 4th','5º de primaria | 5th','6º de primaria | 6th','1º de secundario | 7th','2º de secundario | 8th','3º de secundario | 9th','1º de preparatoria | 10th','2º de preparatoria | 11th','3º de preparatoria | 12th']">
                                </ng-select>
                            </div>
                        </div>
                    </form>
                </div>




            </div>

            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <img src="assets/images/camp/datos-medico.png" class="avatar-lg" alt="madre y padres">
                        <h4 class="ms-3">Datos Médicos Generales</h4>
                    </div>






                    <form class="mt-5">
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Estatura</label>
                            <div class="control-label col-sm-9">
                                <ng-select
                                    [items]="['Colegio Aleman','Colegio Camper Control','Colegio Patito','Escuela Camper Control','Otras']">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Peso</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input"
                                    disabled="false">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Vacuna que
                                tiene</label>
                            <div class="control-label col-sm-9">
                                <ng-select multiple="true" [items]="['hepatitis','neumococo','tetanos','tuberculosis']">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Tipo de
                                sangre*</label>
                            <div class="control-label col-sm-9">
                                <ng-select multiple="true"
                                    [items]="['A+','A-','AB+','AB-','B+','B-','O+','O-','No lo recuerdo']">
                                </ng-select>
                            </div>
                        </div>
                    </form>
                </div>



            </div>


            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <img src="assets/images/camp/medicamento.png" class="avatar-lg" alt="madre y padres">
                        <h4 class="ms-3">Medicamentos</h4>
                    </div>

                    <p style="margin-top: 20px; color:#f46a6a;" class="fw-bold">
                        Tenemos la política de comunicarnos con los papás antes de administrar cualquier medicamento que
                        no haya sido autorizado previamente o enviado por la familia.
                    </p>


                    <p style="margin-top: 20px; color: #f46a6a                    ;" class="fw-bold">
                        Para evitarte la molestia de nuestra llamada en casos menores, te proponemos que pre-autorices
                        los medicamentos que creas convenientes de la siguiente lista:
                    </p>


                    <h3 style="margin-top: 20px;">Medicamentos preautorizados:
                    </h3>

                    <form action="">
                        <div class="contenedor-datos">


                            <div class="titulos-datos-medicos">
                                <p>Simvastatina </p>
                                <p>Aspirina </p>
                                <p>Omeprazol </p>
                                <p>Ramipril </p>
                                <p>Amlodipina </p>
                                <p>Lexotiroxina sódica</p>
                                <p>Paracetamol </p>


                            </div>
                            <div class="input-datos-medicos" style="margin-top: 5px;">
                                <br>
                                <br>

                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>
                                <input type="checkbox" style="margin-top:2px ;">
                                <br>



                            </div>

                        </div>

                        <div class="alert alert-secondary">
                            <p>Descuida que al final del campamento, te notificaríamos si tu hij@ tuvo algún malestar y
                                qué medicamento se le administró.</p>

                            <p style="text-align:justify ;">Te pedimos que selecciones los medicamentos que autorizas.
                                Cualquier medicamento no
                                seleccionado se considerará como NO PRE-AUTORIZADO, en cuyo caso, nos comunicaremos
                                contigo.</p>
                        </div>

                        <div class="container-medico mt-5" placement="top"
                            ngbTooltip="Si no requiere de tratamiento médico, teclea la palabra NINGUNO">
                            <h3>Durante el camp, ¿Estará tomando algún medicamento?*</h3>
                            <textarea
                                placeholder="Especificar dosis y horarios para la toma de medicamentos en tal caso de no necitar poner NINGUNO"
                                name="" id="" cols="90" rows="10"
                                style="border:1px solid rgb(223, 220, 220); border-radius: 5px;"></textarea>

                        </div>

                        <div class="container-medico mt-5" placement="top"
                            ngbTooltip="Si no requiere de tratamiento médico, teclea la palabra NINGUNO">
                            <h3>Alergias a medicamentos*</h3>
                            <textarea
                                placeholder="En caso de que el acampador no sea alérgico a algún medicamento, teclea la palabra NINGUNO"
                                name="" id="" cols="90" rows="10"
                                style="border:1px solid rgb(223, 220, 220); border-radius: 5px;"></textarea>

                        </div>
                        <div class="container-medico mt-5" placement="top"
                            ngbTooltip="Si no requiere de tratamiento médico, teclea la palabra NINGUNO">
                            <h3>Otras Alergias*</h3>
                            <textarea
                                placeholder="En caso de que el acampador no sea alérgico, teclea la palabra NINGUNA"
                                name="" id="" cols="90" rows="10"
                                style="border:1px solid rgb(223, 220, 220); border-radius: 5px;"></textarea>

                        </div>
                        <div class="container-fluid flex-container">
                            <div>
                                <input type="checkbox">
                            </div>




                        </div>

                    </form>




                </div>



            </div>
            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <img src="assets/images/camp/chef.png" class="avatar-lg" alt="madre y padres">
                        <h4 class="ms-3"> Alimentación
                        </h4>
                    </div>


                    <form class="mt-5">
                        <label for="horizontal-firstname-input" class="col-sm-6 col-form-label">
                            Alimentación:</label>
                        <div class="container-genero">
                            <div class="mb-3">


                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Intolerante a la lactosa</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Kosher</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Vegetariana</label>
                                </div>

                            </div>
                        </div>


                        <div class="container-medico mt-5">
                            <h3>Comida prohibida*</h3>
                            <textarea
                                placeholder="En caso de que el acampador pueda comer cualquier tipo de comida, teclea la palabra NINGUNA"
                                name="" id="" cols="90" rows="10"
                                style="border:1px solid rgb(223, 220, 220); border-radius: 5px;"></textarea>

                        </div>

                    </form>
                </div>

            </div>
            <div class="card">

                <div class="card-body">
                    <div class="container-footer-parents">
                        <img src="assets/images/camp/bombero.png" class="avatar-lg" alt="madre y padres">
                        <h4 class="ms-3"> Contacto de emergencia
                        </h4>
                    </div>

                    <div class="alert alert-success mt-3">
                        En caso de emergencia y NO PODER CONTACTAR A LOS PADRES, registra los datos de una tercera
                        persona.
                    </div>


                    <form class="mt-5">
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label"> Nombre de contacto*
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>

                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label"> Parentesco de
                                contacto* </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Teléfono movil de
                                contacto* </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Teléfono de casa de
                                contacto*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="horizontal-firstname-input">
                            </div>
                        </div>




                    </form>
                </div>



            </div>

        </div>