.campamentos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}

.container-info{
    display: flex;
    justify-content:space-between;
}
.titulo-info{
    display: flex;
    justify-content: flex-start;
   max-width:200px;
}
.container-btn{
    display: flex;
    justify-content: space-between;
}

.Campementos_anteriores{
    text-align: center;
}
.Campamentos_proximo{
    text-align: center;
}
.foto-perfil{
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-info-camping{
    display: flex;
   
}
th{
    font-size: 14px;
}
td{
    font-size: 14px;
}
.back-color{
    background-color: rgb(161, 161, 161);
}

@media (max-width: 750px) {
    .campamentos{
      display: flex;
      flex-direction: column;
    }
    .foto-perfil{  
        position: static;

    }
    .campamentos-header{
        height: 400px;
    }
  }

  .campamentos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}

.container-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}
.titulo-info{
    display: flex;
    justify-content: flex-start;
   max-width:200px;
}

.Campementos_anteriores{
    text-align: center;
}
.Campamentos_proximo{
    text-align: center;
}
.foto-perfil{
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-info-camping{
    display: flex;
   
}
th{
    font-size: 14px;
}
td{
    font-size: 14px;
}
.back-color{
    background-color: rgb(161, 161, 161);
}

.fixed-column {
    position: fixed;
    top: 100px; /* Ajusta este valor según sea necesario */
    right: 10px; /* Ajusta este valor según sea necesario */
    width: calc(20% - 10px); /* Ajusta el ancho para que se adapte a la pantalla */
}

.col-lg-9 {
    margin-right: 25%; /* Ajusta este valor según el ancho de .fixed-column */
}



@media (max-width: 750px) {
    .campamentos{
      display: flex;
      flex-direction: column;
    }
    .foto-perfil{  
        position: static;

    }
    .campamentos-header{
        height: 400px;
    }
  }

  .infoCamper{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(33, 45, 223);
    font-weight: 700;
  }