td, th{
    text-align: 14px;

}
td{
    text-align: center;
}

.center-search{
    display: flex;
    align-items: center;
    justify-content: right;
}
.alin-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}